<footer>
  <div class="p-2 mb-1 bg-dark w-auto h-auto text-white text-center text-h6">
 <div class="row align-items-start">
    <div class="col">
<p>SERVICE CLIENT</p>
<p>66 66 99 45 46</p>
<p>Du lundi au samedi, de 10h à 18h30</p>
<p>Par mail : sav@chicha.com</p>
<p>Remplir le formulaire de contact</p>
<p>Prise en charge sous 24H</p>
    </div>
    <div class="col">
<p>INFORMATION</p>
<p>Contactez-nous</p>
<p>Livraison</p>
<p>Mentions légales</p>
<p>Nos marques</p>
<p>Paiement sécurisé</p>


    </div>
    <div class="col">
<p>Mes commandes</p>
<p>Mes avoirs</p>
<p>Mes adresses</p>
<p>Mes informations personnelles</p>
<p>Mes bons de réduction</p>
    </div>
  </div>
</div>



<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:100,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/font-awesome.css">
  <link rel="stylesheet" href="css/style.css">

 <div class="h-70 text-center">
    <div class="mx-auto">
  <div class="social-btn">
      <a href="https://facebook.com/anampartho" target="_blank"><div class="social face"><i class="fa fa-facebook fa-2x"></i><span>Facebook</span></div></a>
      <a href="#" target="_blank"><div class="social twi"><i class="fa fa-twitter fa-2x"></i><span>Twitter</span></div></a>
      <a href="#" target="_blank"><div class="social in"><i class="fa fa-linkedin  fa-2x"></i><span>Linked In</span></div></a>
      <a href="#" target="_blank"><div class="social pin"><i class="fa fa-pinterest-p fa-2x"></i><span>Pinterest</span></div></a>
    </footer>
  </div>
</div>