{% extends 'base.html.twig' %}

{% block title %}Hello InformationsController!{% endblock %}

{% block body %}

  <h1>INFORMATIONS</h1>
  <h2>ENVOYEZ UN MESSAGE</h2>

    
        
        

  {% endblock %}

