{% extends "base.html.twig"%}

{% block title %}Page non trouvée{% endblock%}

{% block body%}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Page non found</h1>
                <p> page no found </p>
            </div>
        </section>
    </main>
    {% endblock %}